In [3]:
import pandas as pd

# Job Opening Dataprocessing

In [38]:
df = pd.read_csv("job-opening_dataset.csv")
job_opening_2022_to_2024 = df['JTSJOR'].tolist()
job_opening_2022_to_2024

[7.0,
 7.2,
 7.4,
 7.2,
 7.0,
 6.9,
 7.0,
 6.2,
 6.6,
 6.4,
 6.5,
 6.7,
 6.3,
 6.0,
 5.8,
 6.0,
 5.6,
 5.5,
 5.3,
 5.6,
 5.6,
 5.2,
 5.4,
 5.3,
 5.3,
 5.3,
 5.1]

# Total Separations: Total Nonfarm

In [40]:
df = pd.read_csv("total_separation_yearly.csv")

separation_2022_to_2024 = df['JTSTSR'].tolist()
df

          DATE  JTSTSR
0   2022-01-01     4.2
1   2022-02-01     4.0
2   2022-03-01     4.1
3   2022-04-01     4.1
4   2022-05-01     4.0
5   2022-06-01     3.9
6   2022-07-01     3.8
7   2022-08-01     4.0
8   2022-09-01     3.8
9   2022-10-01     3.8
10  2022-11-01     3.8
11  2022-12-01     3.9
12  2023-01-01     3.9
13  2023-02-01     3.8
14  2023-03-01     3.8
15  2023-04-01     3.6
16  2023-05-01     3.8
17  2023-06-01     3.6
18  2023-07-01     3.6
19  2023-08-01     3.6
20  2023-09-01     3.5
21  2023-10-01     3.6
22  2023-11-01     3.4
23  2023-12-01     3.4
24  2024-01-01     3.5
25  2024-02-01     3.5
26  2024-03-01     3.3

# Average Hourly Earnings of All Employees

In [41]:
df = pd.read_csv("average_hourly_earning.csv")
average_hourly_earning_2022_to_2024 = df["CES0500000003"].tolist()
average_hourly_earning_2022_to_2024

[31.63,
 31.65,
 31.84,
 31.95,
 32.08,
 32.2,
 32.33,
 32.44,
 32.54,
 32.7,
 32.83,
 32.94,
 33.07,
 33.15,
 33.31,
 33.44,
 33.54,
 33.7,
 33.84,
 33.91,
 34.01,
 34.1,
 34.23,
 34.34,
 34.51,
 34.56,
 34.68,
 34.75]

# CPI

In [42]:
df = pd.read_csv("CPI.csv")
cpi_2022_to_2024 = df["CPIAUCSL"].tolist()
cpi_2022_to_2024

[282.39,
 284.535,
 287.553,
 288.764,
 291.359,
 294.996,
 294.977,
 295.209,
 296.341,
 297.863,
 298.648,
 298.812,
 300.356,
 301.509,
 301.744,
 303.032,
 303.365,
 304.003,
 304.628,
 306.187,
 307.288,
 307.531,
 308.024,
 308.742,
 309.685,
 311.054,
 312.23]

# Labor Force Participation Rate

In [58]:
df = pd.read_csv("labor_force_participation_rate.csv")
labor_force_participation_rate = df["CIVPART"].tolist()
labor_force_participation_rate

[62.2,
 62.2,
 62.3,
 62.2,
 62.3,
 62.2,
 62.1,
 62.4,
 62.3,
 62.3,
 62.1,
 62.3,
 62.4,
 62.5,
 62.6,
 62.6,
 62.6,
 62.6,
 62.6,
 62.8,
 62.8,
 62.7,
 62.8,
 62.5,
 62.5,
 62.5,
 62.7,
 62.7]

In [48]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
print(len(cpi_2022_to_2024))
print(len(average_hourly_earning_2022_to_2024))
print(len(separation_2022_to_2024))
inflation_adjusted_wages = [average_hourly_earning_2022_to_2024[0]]
for i in range(1,len(cpi_2022_to_2024)):
    new_wage = average_hourly_earning_2022_to_2024[i]/(cpi_2022_to_2024[i]/cpi_2022_to_2024[1])
    inflation_adjusted_wages.append(new_wage)


X_pre = [inflation_adjusted_wages,separation_2022_to_2024,job_opening_2022_to_2024]
X = np.array(X_pre).T
y = [4.0,3.8,3.6,3.7,3.6,3.6,3.5,3.6,3.5,3.6,3.6,3.5,3.4,3.6,3.5,3.4,3.7,3.6,3.5,3.8,3.8,3.8,3.7,3.7,3.7,3.9,3.8]
X

27
28
27

array([[31.63      ,  4.2       ,  7.        ],
       [31.65      ,  4.        ,  7.2       ],
       [31.50582467,  4.1       ,  7.4       ],
       [31.48208658,  4.1       ,  7.2       ],
       [31.32864542,  4.        ,  7.        ],
       [31.05813977,  3.9       ,  6.9       ],
       [31.18553836,  3.8       ,  7.        ],
       [31.26705283,  4.        ,  6.2       ],
       [31.24363115,  3.8       ,  6.6       ],
       [31.23682532,  3.8       ,  6.4       ],
       [31.27857561,  3.8       ,  6.5       ],
       [31.36615297,  3.9       ,  6.7       ],
       [31.32806553,  3.9       ,  6.3       ],
       [31.28376019,  3.8       ,  6.        ],
       [31.41027112,  3.8       ,  5.8       ],
       [31.39883049,  3.6       ,  6.        ],
       [31.45815734,  3.8       ,  5.6       ],
       [31.54189103,  3.6       ,  5.5       ],
       [31.6079428 ,  3.6       ,  5.3       ],
       [31.51205587,  3.6       ,  5.6       ],
       [31.49174504,  3.5       ,  5.6       ],
       [31.55013153,  3.6       ,  5.2       ],
       [31.61972135,  3.4       ,  5.4       ],
       [31.64756301,  3.4       ,  5.3       ],
       [31.70738928,  3.5       ,  5.3       ],
       [31.61357706,  3.5       ,  5.3       ],
       [31.6038619 ,  3.3       ,  5.1       ]])

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
# Predicting the unemployment rate for the next month (assuming the data ends in December 2023)
next_month = np.array([[np.mean(inflation_adjusted_wages),np.average(job_opening_2022_to_2024[-4:]),np.average(job_opening_2022_to_2024[-4:])]])  # January 2024 would be month 121
predicted_rate = model.predict(next_month)
print("Predicted Unemployment Rate for January 2024:", predicted_rate[0])

Mean Squared Error: 0.0224559938450085
Predicted Unemployment Rate for January 2024: 3.600570071462382